<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" type="text/css" href="/styles/header.css" />
</head>
<body>
  <header class="site-header">
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/" class="navbar-logo">Blogspot</a>
      </div>
      <div class="navbar-menu">
        <a href="/" class="navbar-item">Home</a>
        <a href="/about" class="navbar-item">About</a>
        <a href="/contact" class="navbar-item">Contact</a>
        <a href="/blogs/new" class="navbar-item navbar-create">Create Blog +</a>
      </div>
    </nav>
  </header>
  
</body>
</html>